.styledTable {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styledTable thead tr {
    background-color: #3f51b5;
    color: #ffffff;

}

.styledTable th,
.styledTable td {
    padding: 12px 15px;
    border: 1px solid #dddddd;
}

.styledTable tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styledTable tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}


.myBtn {
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    background-color: #3f51b5;
    borderColor: #2c387e;
    border-bottom: 0px #fff;
    border-left: 0px #fff;
    border-right: 0px #fff;
    border-top: 0px #fff;


}

.myBtn:hover {
    color: #fff; /*border-bottom: 1px solid #bdbdbd;*/
    box-shadow:0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    background-color: #364283;

}
