html, body {
    height: 100%;
    overflow: hidden;
}


/* custom scrollbar */
::-webkit-scrollbar {
    width: 16px;

}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(85, 85, 85, 0.47);
    border-radius: 10px;
    border: 6px solid transparent;
    background-clip: content-box;


}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(85, 85, 85, 0.47);
}